.pagination {
    justify-content: center;
    gap: 15px;
    li {
        a {
            padding: 0 9px;
            text-align: center;
        }
    }
    li.next, li.prev {
        a {
            padding: 0;
            border: 0;
        }
    }
    li.active {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
}

.Edit__message {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 444;
    padding: 20px;
    color: white;

    border-radius: 10px;
}
.Edit__message_success {
    background-color: #346834fc;
}
.Edit__message_error {
    background-color: #c12424;
}